<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130522644349-molbv98fktfn14f1katiibua1jjbpg7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130522644349-molbv98fktfn14f1katiibua1jjbpg7e</string>
	<key>API_KEY</key>
	<string>AIzaSyDw6mSFZIPoYVhs6uvpHrx5-oZW8dFBAjA</string>
	<key>GCM_SENDER_ID</key>
	<string>130522644349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goen.DEV-OnlyNipponGo</string>
	<key>PROJECT_ID</key>
	<string>japon-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>japon-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130522644349:ios:bd6025479ece3ac2a25614</string>
</dict>
</plist>